.rbc-month-view .rbc-event {
  white-space: normal !important;
  height: auto !important;
  line-height: 1.2;
  font-size: 12px;
}

.rbc-show-more {
  font-size: 12px;
  z-index: 2;
  position: relative;
}

.rbc-row-segment .rbc-event-content {
  text-overflow: clip;
  white-space: normal;
}

.rbc-month-row {
  overflow: visible !important; /* 변경: 더보기 버튼 가려짐 방지 */
  position: relative;
  padding-bottom: 10px;
  height: 100%;
}
.rbc-row-content {
  min-height:120px;
}

.rbc-event {
  z-index: 1;
}